<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bw.mapper.UserMapper">
    <resultMap id="userimp" type="com.bw.entity.User" autoMapping="true">
        <id column="id" property="id"></id>
    </resultMap>
    <resultMap id="stuimp" type="com.bw.entity.Student" autoMapping="true">
        <id column="sid" property="sid"></id>
    </resultMap>
    <select id="login" resultMap="userimp">
        SELECT * FROM  delu WHERE name=#{name} and pwd=#{pwd}
    </select>
    <select id="findAll" resultMap="stuimp">
        SELECT * FROM student
    </select>

</mapper>
